<html class='max'>
<head>
  <meta charset="UTF-8">
  <title>shed.ot</title>

  <link rel="stylesheet" href="/dist/all.css">

  <script src="/js/jquery-3.3.1.js"> </script>
  <script src="/js/underscore-min.js"> </script>
  <script src="/js/split.js"> </script>
  <script src="/js/ot.js"> </script>
  <script src="/js/socket.io.js"> </script>
  <script src="/js/codemirror.js"></script>
  <script src="/js/editor.js"></script>
  <script src="/js/editor-settings.js"></script>
  <script src="/js/bootstrap.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <script>
    CodeMirror.modeURL = "/codemirror/mode/%N/%N.js";
  </script>


</head>

<body class='max'>
  <div class='container-fluid editor-wrapper'>
    <div class="split-box clearfix">
      <div type="button" class="btn output-toggle">
        Output
      </div>

      <div class="split-pane active" id="editorbox">

        <div class="clearfix mbl toolbar">
          <a type="button" class='btn btn-primary mrl' href="/new">New Paste</a>

          <%- include partials/languages.html %>
          <div type="button" class="run btn btn-info">Run</div>

        </div>

        <textarea id="note" style="display: none"></textarea>


        <a type="button" class='btn btn-primary mrl replay' href="/r/<%= docId %>">Watch Replay</a>
        <div type="button" class="btn btn-primary settings"
          data-toggle="modal" data-target="#settingsModal">
          Settings
        </div>
      </div>

      <div class="split-pane clearfix fd" id="outputbox">
        <div class='stdin-pane pane third collapse'>
          <textarea ></textarea>
        </div>

        <div style='margin-top: 10px'>
          <span class="heading stdout">stdout + stderr</span>

          <span class="heading stdin">(toggle stdin)</span>
        </div>
        <div class='stdout-pane stdout'>
        <pre></pre> </div>
      </div>
    </div>

  </div>

  <script>
    initShed("<%= docId %>");
  </script>

  <%- include partials/settings.html %>


</body>
</html>
