<div class='container mtl'>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="stylesheet" href="/dist/all.css">
  <div class='clearfix' style='margin-top: 200px'> </div>

  <div style="margin: auto; width: 600px;">
    <h2>Welcome to <%= name %> <b>shed</b></h2>

    <div>
      <b>shed</b> is a <b>sh</b>ared <b>ed</b>itor for code collaboration
    </div>

    <a class='btn btn-primary' style='margin-top: 10px' href="/new">Get Started</a>
    <a class='btn btn-info' style='margin-top: 10px' href="https://git.kthxb.ai/okay/shed.ot">
      See the source</a>
  </div>
</div>
