body, html {
  height: 100%;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.CodeMirror {
  height: 100%;
}


/* BODY */
body .container-fluid {
  margin: 0px;
  padding: 0px;
}

html, body, #page_content, .split-box, .editor-wrapper {
  height: 100%;
}

/* EDITOR STUFF */
#editor {
  padding-top: 50px;
  height: 100%;
}

#editorbox {
  position: relative;
  width: 100%;
}

.modal {
 overflow-y: auto;
}

.modal-open {
 overflow: hidden;
 padding-right: 0px !important;
}

.separator {
  margin: 10px;
}

.settings .label {
  font-weight: bold;
}

.settings .controls {
  float: right;
  width: 200px;
}

/* STDIN / STDOUT PANES */

.output-toggle {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 10;
}

#outputbox {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.light #outputbox {
  background-color: #efefef;
}

.dark #outputbox {
  background-color: #272822;
  color: #f8f8f2;
}

.dark #outputbox .stdout-pane pre {
  color: #f8f8f2;
}

.dark #outputbox .stdout-pane .card {
  margin-top: 5px;
  background-color: #2C3E50;
  color: #f8f8f2;
}

#outputbox .card {
  margin: 10px;
  padding: 5px;
}

.dark #outputbox textarea {
  background-color: #000;
  color: #efefef;
  overflow: hidden;
}

#outputbox .heading.stdin {
  cursor: pointer;
  text-decoration: underline;
  margin-left: 10px;
}

.heading {
  margin-left: 10px;
  margin-top: 10px;
}

.split-pane {
  height: 100%;
}

.stdin-pane {
  height: 25%;
  margin-top: 10px;
  margin-bottom: 10px;

}

.stdin-pane textarea {
  margin: 5px;
  padding: 10px;
  width: calc(100% - 10px);
  margin-bottom: 10px;
  height: 100%;
  font-family: monospace;
}

.stderr {
  color: #f88
}

.stdout-pane {
  flex: 1;
  height: 75%;
  overflow: auto;
}

.stdout-pane pre {
  overflow: auto;
  max-height: calc(100% - 20px);
  padding: 5px;
  white-space: pre-wrap;
}

/* TOOLBAR */
.toolbar {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  opacity: 0.5;
}

.toolbar:hover {
  opacity: 1;
}

.toolbar .run {
  margin-right: 10px;
  margin-left: 5px;
}

.toolbar select, .toolbar button {
    vertical-align: top;
    margin:0;

    padding:0 .6em;
    height:2.3em;
    box-sizing:border-box;
}


.settings {
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.btn.settings {
  z-index: 10;
}


/*
 * SPLIT STYLING
 * from https://htmlpen.com/-a968ne5qd1/editor/
 */

.gutter {background-color: #efefef; background-repeat: no-repeat;background-position: 50%;}
.dark .gutter { background-color: #444; }
.gutter.gutter-horizontal {cursor: col-resize;background-image:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg=='); }
.gutter.gutter-vertical {cursor: row-resize;background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII='); }
.split.split-horizontal, .gutter.gutter-horizontal { height: 100%;float: left;}
